html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.to-top {
	margin-bottom: -20px;
	margin-right: -20px;
	position: fixed;
	bottom: 9px;
	right: 32px;
	width: 35px;
	height: 35px;
	border-style: solid;
	border-color: orange;
	border-radius: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	text-decoration: none;
	opacity: 0;
	pointer-events: none;
	transition: all .5s;
}
.to-top.active {
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;
	color: orange;
}
.to-top:hover {
	background-color: orange;
	color: whitesmoke;
}
::-webkit-scrollbar {
	width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #181a1b; 
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: orange; 
	border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: orange;
}
.Explore {
	background-color: transparent;
	background-size: 100;
}
.videxplore {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
@media (min-aspect-ratio: 16/9){
	.videxplore {
		width: 100%;
		height: auto;
	}
}
@media (max-aspect-ratio: 16/9) {
	.videxplore {
		width: auto;
		height: 100%;
	}
}
.pexplore {
	font-size: 60px;
	color: whitesmoke;
	transition: .30s;
}
.pexplore2 {
	margin-top: 100px;
	font-size: 60px;
	color: whitesmoke;
	background-color: transparent;
	transition: .30s;
	margin-left: 408px;
	position: fixed;
	bottom: 0;
	width: xx;
	margin-bottom: 10px;
}
.pexplore:hover {
	-webkit-text-stroke: 2px #fff;
	color: transparent;
}
.pexplore2:hover {
	-webkit-text-stroke: 2px #fff;
	color: transparent;
}
.explorelogo {
	margin-top: 100px;
	height: 300px;
	transform-origin: -5 1;
	filter: brightness(80%);
	transition: all .30s ease;
}
.explorelogo:hover {
	transform: scale(1.03);
	filter: brightness(100%);
	transition: all .30s ease;
}
h1 {
	background-color: black;
	text-align: right;
	margin-bottom: -40.5px;
}
* {
	padding: 0;
	margin: 0;
	font-family: calibri;
	text-align: center;
}
.body0 { 
	background-image: url("./Images/transmission line.jpg");
}
.body1 {
	background-color: #181a1b;
	transition: 0.5s all;
}
.dark-mode {
	color: black;
}
.darkreader {
	float: left;
	background-color: black;
	color: whitesmoke;
	transition: 0.5s all;
	font-size: 25px;
	visibility: hidden;
}
.darkreader:hover {
	color: orange;
}
/*First Head*/
.fb {
	height: 25px;
	float: right;
	margin-top: 3px;
}
.Sign-in_button {
	left: -50px;
	float: right;
	padding: 6px 6px;
	background-color: black;
	color: whitesmoke;
	font-family: calibri;
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
}
/*Second Head*/
.header {
	margin-top: -55px;
	background-color: #1e486d;
	border-bottom-color: orange;
	border-bottom-style: solid;
}
.img-responsive {
	margin-bottom: 50px;
}
/* Page content */
.content {
	padding: 16px;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 55px;
	width: 100%;
	z-index: 999;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
	.sticky + .content {
		padding-top: 102px;
	}
/*Dropdown*/
ul li {
	display: inline-block;
	position: relative;
}
ul li a {
	display: block;
	padding: 20px;
	color: whitesmoke;
	text-decoration: none;
	font-size: 14px	;
	font-family: calibri;
	list-style: inline;
	-webkit-transition: all .30s ease;
	-moz-transition: all .30s ease;
	-ms-transition: all .30s ease;
	-o-transition: all .30s ease;
	transition: all .30s ease;
}
ul li ul.dropdown {
	left: -50px;
	right: -50px;
	background-color: #1e486d;
	position: absolute;
	z-index: 100;
	opacity: 0;
	top: 80px;
	display: block;
	visibility: hidden;

	/*BORDER RADIUS*/
	border-radius: 20px;
	/*BORDER COLOR*/
	border-color: orange;
	/*BORDER STYLE*/
	border-style: solid;
	/*DROPDOWN TRANSITION*/
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	-ms-transition: all .15s ease;
	-o-transition: all .15s ease;
	transition: all .20s ease;
}
.dropdown{
	max-height: 450px;
	overflow-y: scroll;	
}
.dropdown::-webkit-scrollbar {
	display: none;
}
ul li a:hover {
	color: orange;
}
ul li:hover ul.dropdown {
	opacity: 1;
	visibility: visible;
}
/*Third Head -- About Us*/
h3 {
	padding: 25px;
	font-size: 30px;
	text-align: center;
	color: orange;
	font-weight: bolder;

}
/*Fourth Head*/
h4 {
	padding: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}
.p1 {
	color: #a69e92;
	padding-left: 150px;
	padding-right: 150px;
	text-align: left;
	text-align: justify;
	font-size: 16px;
	font-family: calibri;
}
.linkcolor {
	color: whitesmoke;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	box-sizing: border-box;
	background-color: #717171;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	margin: 30px 2px;
	cursor: pointer;
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	-ms-transition: all .20s ease;
	-o-transition: all .20s ease;
	transition: all .20s ease;
}
.linkcolor:hover {
	opacity: 1;
	top: 56px;
	visibility: visible;
	background-color: orange;
	color: whitesmoke;
}
/*Fifth Head*/
h5 {
	color: whitesmoke;
	font-size: 30px;
	padding-top: 20px;
	color: orange;
}
/*Sixth Head -- IIEE CODE OF ETHICS*/
.p2-darkreader {
	color: black;
}
h6 {
	margin-top: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}
.p2 {
	margin-top: 5px;
	margin-bottom: 20px;
	color: orange;
	font-weight: bolder;
	font-size: 20px;
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
}
.p3 {
	color: #a69e92;
	padding-left: 150px;
	padding-right: 150px;
	text-align: left;
	text-align: justify;
	font-size: 16px;
	font-family: calibri;
}
.p4 {
	margin-top: 5px;
	margin-bottom: 20px;
	color: orange;
	font-weight: bolder;
	font-size: 20px;
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
}
.p5 {
	color: #a69e92;
	padding-left: 150px;
	padding-right: 150px;
	text-align: left;
	text-align: justify;
	font-size: 16px;
	font-family: calibri;
	margin-bottom: 30px;
}
.p6 {
	margin-top: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}
.p7 {
	margin-top: 5px;
	margin-bottom: 20px;
	color: orange;
	font-weight: bolder;
	font-size: 15px;
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
}
.p8 {
	color: #a69e92;
	padding-left: 150px;
	padding-right: 150px;
	text-align: left;
	text-align: justify;
	font-size: 16px;
	font-family: calibri;
	margin-bottom: 30px;
}
.p9 {
	margin-top: 5px;
	margin-bottom: 20px;
	color: orange;
	font-weight: bolder;
	font-size: 15px;
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
}
.p10 {
	color: #a69e92;
	padding-left: 150px;
	padding-right: 150px;
	text-align: left;
	text-align: justify;
	font-size: 16px;
	font-family: calibri;
	margin-bottom: 30px;
}
.p11 {
	margin-top: 5px;
	margin-bottom: 20px;
	color: orange;
	font-weight: bolder;
	font-size: 15px;
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
}
.p12 {
	color: #a69e92;
	padding-left: 150px;
	padding-right: 150px;
	text-align: left;
	text-align: justify;
	font-size: 16px;
	font-family: calibri;
	margin-bottom: 30px;
}
/*Seventh Head -- SECURITY AND EXCHANGE COMMISION (SEC)*/
.p13 {
	margin-top: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}
.p14 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: whitesmoke;
	font-weight: bolder;
	font-size: 20px;
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
}
.linkcolor2 {
	color: whitesmoke;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	box-sizing: border-box;
	background-color: #717171;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	margin: 0px 2px;
	cursor: pointer;
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	-ms-transition: all .20s ease;
	-o-transition: all .20s ease;
	transition: all .20s ease;
}
.linkcolor2:hover {
	opacity: 1;
	top: 56px;
	visibility: visible;
	background-color: orange;
	color: whitesmoke;
}
.p15 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: whitesmoke;
	font-weight: bolder;
	font-size: 20px;
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
}
.linkcolor3 {
	color: whitesmoke;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	box-sizing: border-box;
	background-color: #717171;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	margin: 0px 2px;
	cursor: pointer;
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	-ms-transition: all .20s ease;
	-o-transition: all .20s ease;
	transition: all .20s ease;
}
.linkcolor3:hover {
	opacity: 1;
	top: 56px;
	visibility: visible;
	background-color: orange;
	color: whitesmoke;
/*Memorandum Circular*/
}
.pa1-header {
	margin-top: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}
.pa1 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: whitesmoke;
	font-weight: bolder;
	font-size: 20px;
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
}
.linkcolor-a1 {
	color: whitesmoke;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	box-sizing: border-box;
	background-color: #717171;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	margin-bottom: 30px;
	cursor: pointer;
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	-ms-transition: all .20s ease;
	-o-transition: all .20s ease;
	transition: all .20s ease;
}
.linkcolor-a1:hover {
	opacity: 1;
	top: 56px;
	visibility: visible;
	background-color: orange;
	color: whitesmoke;
	/*Board Resolution*/
}
.linkcolor-a2 {
	color: whitesmoke;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	box-sizing: border-box;
	background-color: #717171;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	margin-bottom: 30px;
	cursor: pointer;
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	-ms-transition: all .20s ease;
	-o-transition: all .20s ease;
	transition: all .20s ease;
}
.linkcolor-a2:hover {
	opacity: 1;
	top: 56px;
	visibility: visible;
	background-color: orange;
	color: whitesmoke;
}
.pa2-header {
	margin-top: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}
.pa2 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: whitesmoke;
	font-weight: bolder;
	font-size: 20px;
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
}
/*ELECTION RESULTS*/
.pa3-header {
	margin-top: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}
.pa3 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: whitesmoke;
	font-weight: bolder;
	font-size: 20px;
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
}
/*RA 7920 Section 33*/
.pa4-header {
	margin-top: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}
.pa4 {
	color: #a69e92;
	padding-left: 150px;
	padding-right: 150px;
	text-align: left;
	text-align: justify;
	font-size: 16px;
	font-family: calibri;
	margin-bottom: 30px;
	margin-top: 30px;
}
.pa5-header {
	margin-top: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}
.pa5 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: whitesmoke;
	font-weight: bolder;
	font-size: 20px;
	text-align: center;
	padding-left: 150px;
	padding-right: 150px;
}
.linkcolor-a5 {
	color: whitesmoke;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	box-sizing: border-box;
	background-color: #717171;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	margin-bottom: 30px;
	cursor: pointer;
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	-ms-transition: all .20s ease;
	-o-transition: all .20s ease;
	transition: all .20s ease;
}
.linkcolor-a5:hover {
	opacity: 1;
	top: 56px;
	visibility: visible;
	background-color: orange;
	color: whitesmoke;
/*REGIONAL*/
}
.pa6-header {
	margin-top: 30px;
	margin-bottom: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}
.pa6 {
	margin-top: 50px;
	margin-bottom: 20px;
	margin-right: 700px;
	color: whitesmoke;
	font-weight: bolder;
	font-size: 20px;
	padding-left: 150px;
	padding-right: 150px;
}
.img-a3-container{
	float: left;
	display: inline-block;
	height: 300px;
	width: 430px;
	overflow: hidden;
	border-style: solid;
	border-color: orange;
	border-radius: 20px;
}
.img-a3 {
	float: left;
	height: 300px;
	width: 430px;
	transform-origin: -5 1;
	filter: brightness(80%);
	transition: all .30s ease;
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
.img-a3:hover {
	transform: scale(1.03);
	filter: brightness(100%);
	transition: all .30s ease;
}
.img-a4-container{
	float: right;
	display: inline-block;
	height: 300px;
	width: 430px;
	overflow: hidden;
	border-style: solid;
	border-color: orange;
	border-radius: 20px;
}
.img-a4 {
	height: 300px;
	width: 430px;
	transform-origin: -5 1;
	filter: brightness(80%);
	transition: all .30s ease;
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
.img-a4:hover {
	transform: scale(1.03);
	filter: brightness(100%);
	transition: all .30s ease;
}
.pa7 {
	font-family: calibri;
	font-size: 15px;
	color: whitesmoke;
	margin-right: 840px;
	margin-bottom: 5px;
}
.linkcolor-a6 {
	color: whitesmoke;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	box-sizing: border-box;
	background-color: #717171;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	margin-bottom: 30px;
	margin-left: 80px;
	cursor: pointer;
	float: left;
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	-ms-transition: all .20s ease;
	-o-transition: all .20s ease;
	transition: all .20s ease;
}
.linkcolor-a6:hover {
	opacity: 1;
	top: 56px;
	visibility: visible;
	background-color: orange;
	color: whitesmoke;
}
.pa8 {
	margin-top: -90px;
	margin-bottom: 20px;
	margin-left: 700px;
	color: whitesmoke;
	font-weight: bolder;
	font-size: 20px;
	padding-left: 150px;
	padding-right: 150px;
}
.pa9 {
	font-family: calibri;
	font-size: 15px;
	color: whitesmoke;
	margin-left: 845px;
	margin-bottom: 5px;
}
.linkcolor-a7 {
	color: whitesmoke;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	box-sizing: border-box;
	background-color: #717171;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	margin-bottom: 30px;
	float: right;
	margin-right: 77px;
	cursor: pointer;
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	-ms-transition: all .20s ease;
	-o-transition: all .20s ease;
	transition: all .20s ease;
}
.linkcolor-a7:hover {
	opacity: 1;
	top: 56px;
	visibility: visible;
	background-color: orange;
	color: whitesmoke;
}
/*MANUAL OF OPERATIONS FOR IIEE CHAPTERS 2021 EDITION*/
.pa7-header {
	margin-top: 30px;
	margin-bottom: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}
.pa10 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: whitesmoke;
	font-weight: bolder;
	font-size: 20px;
	padding-left: 150px;
	padding-right: 150px;
}
.linkcolor-a5 {
	color: whitesmoke;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	box-sizing: border-box;
	background-color: #717171;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	margin-bottom: 30px;
	cursor: pointer;
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	-ms-transition: all .20s ease;
	-o-transition: all .20s ease;
	transition: all .20s ease;
}
.linkcolor-a8 {
	color: whitesmoke;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	box-sizing: border-box;
	background-color: #717171;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	margin-bottom: 30px;
	cursor: pointer;
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	-ms-transition: all .20s ease;
	-o-transition: all .20s ease;
	transition: all .20s ease;
}
.linkcolor-a8:hover {
	opacity: 1;
	top: 56px;
	visibility: visible;
	background-color: orange;
	color: whitesmoke;
}
.pa9-header {
	margin-top: 30px;
	margin-bottom: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}
.pa11 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: whitesmoke;
	font-weight: bolder;
	font-size: 20px;
	padding-left: 150px;
	padding-right: 150px;
}
.linkcolor-a9 {
	color: whitesmoke;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	box-sizing: border-box;
	background-color: #717171;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	margin-bottom: 30px;
	cursor: pointer;
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	-ms-transition: all .20s ease;
	-o-transition: all .20s ease;
	transition: all .20s ease;
}
.linkcolor-a9:hover {
	opacity: 1;
	top: 56px;
	visibility: visible;
	background-color: orange;
	color: whitesmoke;
}
.pa10-header {
	margin-top: 30px;
	margin-bottom: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;

}
.pa12 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: whitesmoke;
	font-weight: bolder;
	font-size: 20px;
	padding-left: 150px;
	padding-right: 150px;
}
.linkcolor-a10 {
	color: whitesmoke;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50px;
	box-sizing: border-box;
	background-color: #717171;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	margin-bottom: 30px;
	cursor: pointer;
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	-ms-transition: all .20s ease;
	-o-transition: all .20s ease;
	transition: all .20s ease;
}
.linkcolor-a10:hover {
	opacity: 1;
	top: 56px;
	visibility: visible;
	background-color: orange;
	color: whitesmoke;
}
.pa11-header {
	margin-top: 30px;
	margin-bottom: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}
.pa13 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: whitesmoke;
	font-weight: bolder;
	font-size: 20px;
	padding-left: 150px;
	padding-right: 150px;
}
.pa12-header {
	margin-top: 30px;
	margin-bottom: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}
.pa14 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: whitesmoke;
	font-weight: bolder;
	font-size: 20px;
	padding-left: 150px;
	padding-right: 150px;
}
/*HOME*/

.flashNews-Container {
	border-right-style: solid;
	border-right-color: orange;
	margin-right: 240px;
	margin-left: 240px;
	overflow: hidden;
}
.trending {
	background-color: #bb7410;
	float: left;
	padding: 10px;
	color: whitesmoke;
	font-size: 15px;
	margin-bottom: 4px;

}
.flashnews_today {
	display: inline-block;
	text-align: left;
	color: whitesmoke;
	margin-top: -40px;
	margin-bottom: 45px;
	margin-left: 100px;
	font-size: 13px;
}
.mySlides2 {
	display: inline-block;
}
.img-a5 {
	height: 200px;
	transform-origin: -5 1;
	filter: brightness(80%);
	transition: all .30s ease;
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
.img-a5-container {
	display: inline-block;
	margin-bottom: 250px;
	border-radius: 20px;
	border-color: orange;
	border-style: solid;
	overflow: hidden;
	height: 200px;
}
.img-a5:hover {
	transform: scale(1.03);
	filter: brightness(100%);
	transition: all .30s ease;
}
.img-a6 {
	height: 200px;
	transform-origin: -5 1;
	filter: brightness(80%);
	transition: all .30s ease;
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
.img-a6-container {
	display: inline-block;
	margin-bottom: 250px;
	border-radius: 20px;
	border-color: orange;
	border-style: solid;
	overflow: hidden;
	height: 200px;
}
.img-a6:hover {
	transform: scale(1.03);
	filter: brightness(100%);
	transition: all .30s ease;
}
/*FOOTER*/
footer {
	background-color: #181a1b;
	margin-top: 250px;
	color: whitesmoke;
	padding: 25px;
/*COMMITTEES*/
}
.img-a7 {
	height: 500px;
	transform-origin: -5 1;
	filter: brightness(80%);
	transition: all .30s ease;
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
.img-a7-container {
	display: inline-block;
	float: center;
	margin-bottom: 50px;
	border-radius: 20px;
	border-style: solid;
	border-color: orange;
	height: 500px;
	overflow: hidden;
}
.img-a7:hover {
	transform: scale(1.03);
	filter: brightness(100%);
	transition: all .30s ease;
}
/*Training and Seminar*/
.img-a8 {
	position: relative;
	z-index: 99;
	height: 500px;
	transform-origin: -5 1;
	filter: brightness(80%);
	transition: all .30s ease;
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
.img-a8-container {
	margin-top: 100px;
	display: inline-block;
	float: right;
	margin-right: 150px;
	margin-bottom: 50px;
	border-radius: 20px;
	border-style: solid;
	border-color: orange;
	height: 500px;
	overflow: hidden;
}
.img-a8:hover {
	transform: scale(1.03);
	filter: brightness(100%);
	transition: all .30s ease;
}
.pa15-header {
	margin-top: 30px;
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}
.pa15 {
	color: #a69e92;
	padding-left: 150px;
	padding-right: 150px;
	text-align: left;
	text-align: justify;
	font-size: 16px;
	font-family: calibri;
	margin-bottom: 30px;
	margin-top: 30px;
}
.TandS {
	color: orange;
	text-decoration: none;
}